html, body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
canvas
{
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.Button
{
    background: none;
    border: 2px solid rgba(38, 72, 161, 0.8);
    color: rgba(255, 255, 255, 1.0);
    margin-top: 1.3em;
    letter-spacing: 0.08em;
    font-size: 0.8em;
    width: 80%;
    border-radius: 2px;
}

.Form
{
    margin: 1.0em;
}

.Text
{
    margin: 1.3em;
    letter-spacing: 0.08em;
    line-height: 1.4em;
    font-size: 1.0em;
}

.TextField
{
    background: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 1.0);
    text-align: center;
    width: 30%;
    float: right;
    border: 2px solid rgba(38, 72, 161, 0.8);
    border-radius: 2px;
}

#GeneratingTextureContainer
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#GeneratingTextureLabel
{
    color: rgba(200, 0, 0, 1.0);
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

#SelectMode
{
    margin-top: 0.5em;
}

#Sidebar
{
    color: rgba(255, 255, 255, 1.0);
    background: rgba(0, 0, 200, 0.1);
    border-right: 1px solid rgba(0, 0, 80, 0.8);
    width: 18%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    text-align: center;
}

#Signature
{
    position: absolute;
    right: 0;
    bottom: 0;
    color: rgba(128, 128, 128, 0.5);
    font-size: 0.8em;
    margin: 0.5em;
}

#SizeNote
{
    font-size: 0.7em;
}